[tool.poetry]
name = "cliffy"
version = "0.2.5"
description = "$ cli load from.yaml"
authors = ["Jay <jay.github0@gmail.com>"]
repository = "https://github.com/jaykv/cliffy"
readme = "README.md"
packages = [{include = "cliffy"}]

[tool.poetry.dependencies]
python = "^3.9"
rich-click = "^1.6.1"
pybash = "^0.2.3"
pyyaml = "^6.0"
typer = "^0.7.0"
shellingham = "^1.5.0.post1"
pydantic = "^1.10.6"
deepmerge = "^1.1.0"
jinja2 = "^3.1.2"

[tool.poetry.group.dev.dependencies]
black = "^22.12.0"
pytest = "^7.2.1"
isort = "^5.11.4"
flake8 = "^6.0.0"
autoflake = "^2.0.0"
ruff = "^0.0.254"

[tool.poetry.scripts]
cli = "cliffy.run:run"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
skip-string-normalization = 1

[tool.isort]
profile = "black"
line_length = 120
default_section = "THIRDPARTY"
known_first_party = "cliffy"

[tool.ruff]
line-length = 120
